@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    box-sizing: border-box;
}



.container {
        width: 40%;
        height: 35%;
        background-color: #1F2937;
        margin: 2em auto;
        padding: 2em;
    }

header {
    font-family: "Karla", sans-serif;
    font-size: 2.5rem;
    font-weight: semibold;
    line-height: 0.8;
    color: #fff;
}

span {
    display: block;
    color: #55F991;
    /* margin-top: .5em; */
}

.subheading {
    font-family: "Inter", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: #b6b2c2;
    /* margin-bottom: 1.5em; */
    border-bottom: #2F3E53;
}

#pass-btn {
    /* margin-top: 20px; */
    border-radius: 8px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 1em 2em;
    background-color: #10B981;
    color: #fff;
}

hr {
    margin: 2em 0;
    width: 90%;
    border: 2px solid #2F3E53;
}

#output {
    display: flex;    
    width: 90%;
    gap: 2em;
    justify-content: space-between;
    align-content: space-between;
}

.pass {
    /* width: 11vh; */
    /* height: 39px; */
    border-radius: 6px;
    background-color: #273549;
    color: #55F991;
    text-align: center;
    width: 45%;
    padding: 1em 2em;
}


